:root{
    --header-background: #ececec;
    --dark-background: #2f303a;
    --light-background: #f5f4fa;
    --accent-color: #2196f3;
}

body {
    font-family: Roboto;
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 93px;
}

.company-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 35.96px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.company-logo-header {
    color: black;
}

.company-logo-footer {
    color: #ffffff; 
}

.nav-list {
    display: flex;
    gap: 60px;
}

.nav-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    color: #212121;
}

.nav-list-link:hover {
    color: var(--accent-color);
}

.contact-list {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.contact-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    color: #757575;
}

.contact-list-link:hover {
    color: var(--accent-color);
}

.hero {
    background-image: url(./img/img_17.png);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin: 0 auto;
    max-width: 696px;
    text-align: center;
}

.hero-btn {
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: #ffffff;
    width: 216px;
    height: 50px;
    margin: 0 auto;
    border-radius: 4px;
}

.features {
    padding-top: 94px;
}

.features-list {
    display: flex;
    justify-content: space-between;
}

.features-list-item {
    width: 270px;
    display: flex;
    flex-direction: column;
}

.features-list-item:nth-child(1)::before {
    content: url(./img/img_18.png);
    margin-bottom: 30px;
}

.features-list-item:nth-child(2)::before {
    content: url(./img/img_19.png);
    margin-bottom: 30px;
}

.features-list-item:nth-child(3)::before {
    content: url(./img/img_20.png);
    margin-bottom: 30px;
}

.features-list-item:nth-child(4)::before {
    content: url(./img/img_21.png);
    margin-bottom: 30px;
}

.features-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    color: #212121;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.features-list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}

.work-list {
    display: flex;
    justify-content: space-between;
}

.team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-list-item {
    background-color: #ffffff;
    width: 270px;
    height: 368px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 20%), 0px 1px 1px 0px rgba(0, 0, 0, 14%), 0px 1px 3px 0px rgba(0, 0, 0, 12%);
}

.team-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-top: 30px;
}

.team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
    margin-top: 10px;   
}

.footer {
    background-color: var(--dark-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.address {
    margin-top: 20px;
}

.address-list-item {
    margin-top: 9px;
}

.address-list-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.address-list-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 60%);
}

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 94px;
}

.filter-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.filter-list-btn {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    padding: 6px 25px;
    border-radius: 4px;
    cursor: pointer;
}

.filter-list-btn:hover {
    color: #ffffff;
    background-color: var(--accent-color);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.product-list-item {
    border: 1px solid #eeeeee;
    width: 370px;
    height: 404px;
}

.product-list-img {
    width: 370px;
    height: 294px;
    margin-bottom: 20px;
}

.product-list-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
    margin-left: 24px;
    margin-right: 24px;
}

.product-list-type {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
    margin-bottom: 20px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 20px;
}
